@import '../../../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--colorFail);
}

.input {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}
.perksField {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  & div:nth-child(1) {
    flex-basis: 50%;
  }
  & div:nth-child(2) {
    flex-basis: 40%;
  }
}
.optionalPerkFee {
  font-size: 28px;
  line-height: 40px;
  padding: 1px 0 7px 0;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 700;
}
.guests {
  margin-bottom: 15px;
  & input {
    width: 100%;
    max-width: 30%;
  }
}
.perkNameExample {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 13px;
}
