@import '../../../../styles/customMediaQueries.css';
.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.form {
  flex-grow: 1;
  & > div{
    & > label{
      @media(max-width:767px){
        margin-top:5px;
        margin-bottom:10px;
      }
    }
  }
}

.priceCurrencyInvalid {
  color: var(--colorFail);
}
