/* @font-face {
    font-family: 'NeueHaasGroteskText Pro';
    src: local('Neue Haas Grotesk Text Pro 75 Bold'), local('NHaasGroteskTXPro-75Bd'),
        url('NHaasGroteskTXPro-75Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro';
    src: local('Neue Haas Grotesk Text Pro 76 Bold Italic'), local('NHaasGroteskTXPro-76BdIt'),
        url('NHaasGroteskTXPro-76BdIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro';
    src: local('Neue Haas Grotesk Text Pro 56 Italic'), local('NHaasGroteskTXPro-56It'),
        url('NHaasGroteskTXPro-56It.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro Md';
    src: local('Neue Haas Grotesk Text Pro 65 Medium'), local('NHaasGroteskTXPro-65Md'),
        url('NHaasGroteskTXPro-65Md.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro';
    src: local('Neue Haas Grotesk Text Pro 55 Roman'), local('NHaasGroteskTXPro-55Rg'),
        url('NHaasGroteskTXPro-55Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro Md';
    src: local('Neue Haas Grotesk Text Pro 66 Medium Italic'), local('NHaasGroteskTXPro-66MdIt'),
        url('NHaasGroteskTXPro-66MdIt.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
} */
