@import '../../../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.form {
  flex-grow: 1;
  & > div{
    & > div{
      @media(max-width:575px){
        flex-direction: column;
        margin-top:15px;
      }
      & > div{
        @media(max-width:575px){
          width: 100%;
          margin: 0 0 10px 0;
        }
      }
    }
  }
}
.Title{
  
}