@import '../../styles/customMediaQueries.css';

.root {
  background-color: var(--colorWhite);
}
.content {
  width: calc(100% - 48px);
  margin: 12px auto 24px;

  @media (--viewportMedium) {
    max-width: 565px;
    /* margin: 55px auto 56px auto; */
  }
  @media(max-width:575px){
    width:100%;
    padding:0 15px;
  }
}

.headingContainer {
  display: flex;
  flex-direction: row;
}

.heading {
  margin-right: 24px;
  @media(max-width:575px){
    margin-right:0;
    font-size:22px;
  }
}

.profileLink {
  composes: buttonSecondaryInline from global;

  padding: 10px 16px 5px 16px;
  margin: 19px 0 0 auto;

  float: right;
  flex-shrink: 0;
}
