@import '../../styles/customMediaQueries.css';
@import '../../styles//marketplaceDefaults.css';

.topbar {
  z-index: 1; /* ensure that Topbar shadow overlays content background */
}

.mobileTopbar {
  /* Size */
  width: 100%;
  height: var(--topbarHeight);

  /* Layout for child components */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* fill */
  background-color: var(--colorWhite);

  /* shadows */
  box-shadow: none;

  @media (--viewportMedium) {
    display: none;
  }
}

.desktopTopbar,
.mobileTopbar {
  box-shadow: none;

  @media (--viewportLarge) {
    box-shadow: var(--boxShadowLight);
  }
}

.navigation {
  /* Layout */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 29px 0 0 40px;

  border-top-width: 1px;
  border-top-color: var(--colorGrey100);
  border-top-style: solid;
  background-color: var(--colorWhite);
  box-shadow: var(--boxShadow);
  @media (--viewportMedium) {
    /* padding: 24px 24px 0 24px; */
  }

  @media (--viewportLarge) {
    min-height: 560px;

    flex-wrap: unset;
    /* padding: 40px 0 82px 36px; */
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
  @media (--viewportLargeWithPaddings) {
    /* padding: 40px 0 82px calc((100% - 1056px) / 2); */
  }
  @media (max-width: 1023px) {
    justify-content: space-between !important;
    width: 100%;
    padding: 10px 15px 0;
  }
  @media (max-width: 767px) {
    align-items: baseline;
    flex-wrap: nowrap !important;
  }
  @media (max-width: 575px) {
    /* flex-direction: row-reverse; */
  }
}

.title {
  align-self: center;
  padding: 0px 0 8px 0;

  /* Layout */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (--viewportLarge) {
    padding: 5px 20px 3px 0;
    align-self: flex-end;
  }
  @media (max-width: 575px) {
    padding: 0;
  }
  @media (max-width: 1023px) {
    display: none;
  }
}

.tabs {
  padding-top: 2px;
  width: 340px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  & div:first-child {
    & a {
      width: 340px;
      text-align: right;
      & > span {
        padding-right: 22px;
      }
    }
  }

  @media (--viewportMedium) {
    padding-top: 12px;
    padding-top: 20px;
  }

  @media (--viewportLarge) {
    padding-top: 24px;
    flex-direction: column;
  }
}

.tab {
  margin-left: 16px;

  &:first-child {
    margin-left: 0;
  }

  @media (--viewportLarge) {
    margin-left: 0;
  }
}

.error {
  color: var(--colorFail);
  margin: 23px 24px 24px 24px;

  @media (--viewportLarge) {
    margin-top: 18px;
  }
}

.noResults {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 1px;
  text-align: center;

  @media (--viewportLarge) {
    margin-top: 25px;
  }
  @media (max-width: 767px) {
    margin: 0;
  }
}

.itemList {
  margin: 0;
  padding: 0;
}

@keyframes loadingSpinnerFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.listItemsLoading {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  opacity: 0;

  /* animation shorthand property doesn't work with local scope of CSS Modules */
  animation-duration: 1s;
  animation-name: loadingSpinnerFadeIn;
  animation-fill-mode: forwards;
}

.listItem {
  /* Layout */
  margin-bottom: 10px;
  padding-bottom: 12px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--colorGrey100);

  &:last-child {
    border-bottom: none;
  }

  @media (--viewportLarge) {
    margin-bottom: 16px;
  }
}

.item {
  display: flex;
  flex-direction: row;
  @media (max-width: 767px) {
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
  }
}

.itemAvatar {
  display: flex;
  align-items: center;
  margin-right: 8px;

  @media (--viewportMedium) {
    display: block;
    align-items: unset;
  }

  @media (--viewportLarge) {
    margin-top: 3px;
    margin-right: 7px;
  }
  @media (max-width: 575px) {
    margin-right: 0;
  }
}

.itemLink {
  flex: 1;

  /* Layout */
  display: inline-grid;
  grid-template-columns: 22px auto;
  grid-template-areas:
    'dot name    state'
    '... item    state'
    '... details state';
  padding: 2px 0 6px;
  gap: 4px 0;

  /* Remove text underline from this link */
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

  &:hover .itemUsername {
    /* Hightlight the username when the whole item is hovered */
    color: var(--marketplaceColor);
  }
  @media (max-width: 767px) {
    width: 100%;
    position: relative;
    display: inline;
  }
}

.rowNotificationDot {
  grid-area: dot;
  justify-self: center;
  align-self: flex-start;
  margin-top: 8px;

  width: 6px;
  height: 6px;

  @media (--viewportLarge) {
    margin-top: 5px;
    margin-left: 5px;
  }

  @media (--viewportLarge) {
    justify-self: flex-start;
    width: 8px;
    height: 8px;
  }
  @media (max-width: 767px) {
    position: absolute;
    left: -10px;
    top: 10px;
  }
}

.notificationDot {
  color: var(--colorWhite);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--colorFail);
}

.itemUsername {
  grid-area: name;

  /* Font */
  composes: textSmall from global;
  font-weight: var(--fontWeightBold);
  color: var(--colorGrey700);

  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    line-height: 16px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.itemTitle {
  composes: marketplaceTinyFontStyles from global;
  grid-area: item;
  color: var(--colorGrey700);

  margin-top: 0;
  margin-bottom: 0;
}

.itemDetails {
  composes: marketplaceTinyFontStyles from global;
  grid-area: details;
  color: var(--colorGrey700);

  margin-top: 0;
  margin-bottom: 0;
  & > div {
    @media (max-width: 767px) {
      margin-top: 10px;
    }
    & > span {
      @media (max-width: 767px) {
        margin-right: 0;
        margin-top: 5px;
      }
    }
  }
}

.itemState {
  grid-area: state;

  /* Font */
  composes: marketplaceTinyFontStyles from global;
  line-height: 18px;
  font-weight: var(--fontWeightMedium);
  letter-spacing: normal;

  justify-self: flex-end;
  text-align: end;

  margin-top: 6px;
  margin-bottom: 0px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.pagination {
  margin: auto 24px 0 24px;
}

/* Transaction status affects to certain font colors and weights */

.stateName {
  /* This class is empty on purpose, it is used below for banned users */
}

.accepted {
  color: green !important;
}

.stateActionNeeded {
  font-weight: var(--fontWeightMedium);
  color: var(--colorAttention);
}

.stateNoActionNeeded {
  color: var(--colorGrey700);
}

.stateConcluded {
  color: var(--colorGrey300);
}

.bookingActionNeeded {
  color: var(--colorGrey700);
  margin-top: 4px;

  @media (--viewportMedium) {
    margin-top: 9px;
  }
}

.bookingNoActionNeeded {
  color: var(--colorGrey300);
}

.lastTransitionedAtEmphasized {
  color: var(--colorGrey700);
  font-weight: var(--fontWeightMedium);
}

.lastTransitionedAtNotEmphasized {
  color: var(--colorGrey300);
}

.bannedUserLink {
  & .itemUsername,
  &:hover .itemUsername,
  & .stateName {
    color: var(--colorGrey300);
  }
}
.bookingDates {
  /* background-color: aquamarine; */
  & div:first-child {
    & label:nth-child(2) {
      display: none;
    }
  }
  & div:nth-child(2) {
    & div:first-child {
      & div:first-child {
        & div:first-child {
          & div:nth-child(1) {
            & input {
              width: 339px;
            }
          }
          & div:nth-child(3) {
            display: none;
          }
          & div:nth-child(4) {
            display: none;
          }
        }
      }
    }
  }
}
.nameAndNumber {
  display: flex;
  align-items: center;
  & div:nth-child(2) {
    margin-left: 10px;
    font-size: 14px;
    @media (max-width: 767px) {
      margin-left: 0;
    }
  }
  @media (max-width: 767px) {
    flex-direction: column;
    gap: 5px 0;
    align-items: flex-start;
    margin-top: 10px;
  }
}

.inboxPageCalender {
  margin-top: -16px;

  & :global(.DayPicker) {
    margin: 0px !important;
  }

  & :global(.SingleDatePicker_picker) {
    width: 314px !important;
    top: 80px !important;
    @media (max-width: 1023px) {
      top: 130px !important;
    }
    /* @media(max-width:991px){
      top: 30px !important;
    } */
    @media (max-width: 767px) {
      top: 114px !important;
    }
  }

  & :global(.CalendarDay) {
    color: var(--color-black) !important;
    & :hover,
    & :focus {
      color: var(--color-black) !important;
    }
  }
  & :global(.CalendarDay_default) {
    border-width: 0px !important;
    & :hover,
    & :focus {
      border-width: 0px !important;
    }
  }
  & :global(.SingleDatePicker_picker),
  & :global(.SingleDatePicker_picker__directionLeft),
  & :global(.DayPicker__horizontal) {
    background-color: var(--color-white) !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    @media (max-width: 1023px) {
      /* position: static !important; */
    }
  }

  & :global(.SingleDatePicker_picker__directionLeft) {
    border: 1px solid #e5e5e6;
  }

  & :global(.CalendarMonth_caption) {
    color: var(--color-black);
    font-weight: 200 !important;
  }
  & :global(.CalendarMonthGrid) {
    @media (max-width: 1023px) {
      width: 100% !important;
      height: inherit !important;
    }
  }
  & :global(.DayPickerNavigation_button) {
    color: var(--color-black) !important;

    & svg {
      stroke: var(--color-black);
      fill: var(--color-black);
    }
  }

  & :global(.DayPicker_weekHeader) {
    color: var(--color-black) !important;
    top: 54px !important;
    /* border-bottom: 1px solid #000; */
  }

  & :global(.DayPicker_weekHeader_ul) {
    border-bottom: 1px solid var(--color-black);
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  }

  & :global(.CalendarDay) {
    color: var(--color-black) !important;
    cursor: pointer !important;
  }
  & :global(.CalendarDay__firstDayOfWeek),
  & :global(.CalendarDay__lastDayOfWeek) {
    color: var(--color-blue) !important;
  }

  & :global(.CalendarDay__outside) {
    color: var(--colorGrey300) !important;
  }

  & :global(.DateInput) {
    display: none;
  }

  & :global(.CalendarDay__highlighted_calendar) {
    background-color: var(--colorSuccess) !important;
    color: #fff !important;
    border-radius: 8px !important;

    & :hover,
    & :focus {
      background-color: var(--colorSuccess) !important;
      color: #fff !important;
      border-radius: 8px !important;
    }
  }

  & :global(.CalendarDay__blocked_calendar) {
    background-color: var(--color-blocked) !important;
    color: #fff !important;
    border-radius: 8px !important;

    & :hover,
    & :focus {
      background-color: var(--color-blocked) !important;
      color: #fff !important;
      border-radius: 8px !important;
    }
  }
  & :global(.CalendarDay__selected) {
    background-color: #000 !important;
    border-radius: 8px !important;
    color: #fff !important;
    & :global(.renderedDay) {
      background-color: #000 !important;
      color: #fff !important;
      border-radius: 8px !important;
    }
  }

  & :global(.CalendarDay__default) {
    border: none !important;
    /* border-spacing:30px 0 !important; */
  }
  & :global(.CalendarMonth_table) {
    margin-top: 10px;
  }
}

.dateLoader {
  width: 312px;
  height: 300px;
  border: 1px solid #e5e5e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #858585;
  position: absolute;
  & .icon {
    width: 48px;
    height: 48px;
  }
}

.searchForm {
  margin-bottom: 16px;
}
.InboxPageWrap {
  & > div {
    & > div {
      & > div:nth-child(2) {
        @media (min-width: 1920px) {
          max-width: 1120px;
          margin: 0 auto;
        }
        & > aside {
          & > nav {
            @media (max-width: 1023px) {
              width: auto !important;
              /* margin-left:auto !important; */
              padding-top: 0 !important;
            }
            & > div {
              & > a {
                @media (max-width: 1023px) {
                  background-image: none !important;
                  background-position: inherit !important;
                  width: 135px !important;
                  border-bottom-color: inherit !important;
                  border-bottom-width: inherit !important;
                  border-bottom-style: inherit !important;
                  margin-right: 10px !important;
                }
              }
            }
          }
        }
        & > main {
          padding: 48px 36px 82px 59px !important;
          @media (max-width: 1023px) {
            padding: 25px 15px !important;
            display: block !important;
          }
        }
      }
    }
  }
}
.DateFormWrap {
  @media (max-width: 1023px) {
    display: none;
  }
}
.DateMobWrap {
  display: none;
  /* position:relative; */
  @media (max-width: 1023px) {
    display: block;
    /* height: 40px; */
    width: 130px;
    height: 40px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .ChooseDateBtn {
    display: inline-block;
    width: 130px;
    height: auto;
    min-height: 0;
    padding: 9px 6px 9px 6px;
    margin: 0;
    font-weight: var(--fontWeightMedium);
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--colorGrey100);
    border-radius: var(--borderRadiusMedium);
    background-color: var(--colorWhite);
    /* position:relative; */
    cursor: pointer;
    transition: all 500ms ease-in-out;
    box-shadow: none;
    &:hover {
      box-shadow: var(--boxShadowFilterButton);
    }
    & > svg {
      padding-left: 3px;
      width: 10px;
      height: 10px;
      padding-top: 3px;
    }
  }
}
.FormWrap {
  @media (max-width: 1023px) {
    display: flex;
    align-items: center;
    /* margin-top: 15px; */
  }
  @media (max-width: 767px) {
    margin-top: 0;
    /* padding-bottom:10px; */
  }
}
.mobDateCalender {
  & > div {
    & > div {
      & > div {
        @media (max-width: 1023px) {
          position: inherit !important;
        }
      }
    }
  }
}
.titleMob {
  display: none;
  @media (max-width: 1023px) {
    display: block;
    margin-bottom: 20px;
  }
  @media (max-width: 575px) {
    margin-bottom: 15px;
  }
}
