@import '../../../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 6px;
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    align-items: baseline;
    padding: 5px 0 3px 0;
    gap: 8px;
    margin-top: 0;
  }
}

.planInfo {
  @media (--viewportMedium) {
    padding: 1px 0 7px 0;
  }
}

.section {
  margin: 5px 0 0 0;
  @media (max-width: 767px) {
    margin: 0 0 0;
  }
}

.editPlanButton {
  margin: 0;
  padding: 1px 0 5px 0;
  color: Red;
  @media (--viewportMedium) {
    padding: 5px 0 3px 0;
  }
}

.addExceptionButton {
  composes: h4 from global;
  padding: 1px 0 5px 0;
  margin: 0 0 15px 0;

  @media (--viewportMedium) {
    padding: 3px 0 5px 0;
    /* margin: 0 0 32px 0; */
  }
  @media (max-width: 767px) {
    margin: 15px 0 0;
  }
}

.goToNextTabButton {
  margin-top: 50px;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
  }
  @media (max-width: 767px) {
    margin-top: 30px;
  }
}

.modalContainer {
  composes: marketplaceModalBaseStyles from global;
  min-height: 100vh;
  height: 100%;

  padding-left: 0;
  padding-right: 0;

  background-color: var(--colorGrey50);

  @media (--viewportMedium) {
    flex-basis: 576px;
    min-height: auto;
    height: auto;
  }
}

.error {
  color: var(--colorFail);
}
.time {
  margin-bottom: 8px;
  width: 100%;
  /* max-width: 40%; */
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}
.startEndTime {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  & div:nth-child(1) {
    /* margin-right: 25px; */
    flex-basis: 15%;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 10px;
  }
  & > div:nth-child(1) {
    @media (max-width: 767px) {
      margin-right: auto;
      margin-bottom: 5px;
    }
  }
  & > div:nth-child(2) {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
.startEndTimeTitle {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
}
.entryRulesInput {
  border-radius: 20px;
}
.entryRulesSection {
  margin-bottom: 20px;
}
.entryRulesTitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  @media (max-width: 767px) {
    font-size:16px;
    line-height: 24px;
  }
}
.availabilityModal {
  & > div {
    & > div {
      & > button {
        @media (max-width: 767px) {
          position: absolute;
        }
      }
    }
  }
}
.checkBox {
  width: unset;
  @media(max-width:767px){
    margin-top:2px;
  }
}
.checkBoxLabel {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  @media(max-width:767px){
    font-size: 14px;
    align-items:flex-start;
  }
 
}
.label {
  margin-left: 10px;
}
.editor {
  border: 1px solid #ddd;
  /* border-radius: 0.375rem; */
  min-height: 200px;
}
