.root {
}

.media {
  /* width: 100%; */
  border-radius: 0px;
  margin-bottom: 0;
  & > div{
    & > div{
      padding-bottom:65.25% !important;
      & > div{
        & > img{
          height: 220px;
          /* width: 370px; */
          object-position: top;
        }
      }
    }
  }
}

.text {
  width: 100%;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
  & > h1 {
    @media (max-width: 991px) {
      font-size: 31px;
    }
  }
  & > h3 {
    @media (max-width: 991px) {
      font-size: 22px;
    }
  }
  @media (max-width: 768px) {
    margin-top: 12px;
  }
}
