@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;
}

.email {
  margin-top: 37px;
  @media (--viewportMedium) {
    margin-top: 38px;
  }
 @media(max-width:575px){
  margin-top:10px;
 }
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
  @media(max-width:575px){
    margin-top:40px;
  }
}

/* Adjust the bottomWrapper's margin to match modals without the helper text */
.bottomWrapperText {
  composes: marketplaceModalBottomWrapperText from global;
}

/* Helper links */
.modalHelperLink {
  composes: marketplaceModalHelperLink from global;
}

/* Helper texts for the links, not the actual links */
.modalHelperText {
  composes: marketplaceModalHelperText from global;
}
