/* chatWindow.css */

.chat-container {
  position: fixed;
  bottom: 20px;
  right: 5px;
  width: 380px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* transition: all 0.3s ease; */
  transform: translateY(100%);
  opacity: 0;
  min-height: 550px;
  transition: filter 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media (max-width: 767px) {
    width: 340px;
    right: 0px;
  }
}

.chat-container.open {
  transform: translateY(0);
  opacity: 1;
}

.chat-head {
  direction: ltr;
  height: 56px;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 16px;
  background: rgb(27, 67, 118);
  color: rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  z-index: 3;
}

.chat-head-title {
  font-weight: var(--fontWeightMedium);
  font-size: 14px;
  line-height: 16px;
  padding: 3px 0 3px 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.chat-body {
  padding: 10px;
}

.chat-window {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  min-height: 400px;
  max-height: 400px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  & > li {
    line-height: 1px;
    padding: 5px 0 1px 0;
  }
}

.chat-window::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track (the area behind the scrollbar) */
.chat-window::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (the draggable part of the scrollbar) */
.chat-window::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.chat-window::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-card {
  /* padding: 0px 10px; */
  border-radius: 20px;
  /* margin-bottom: 5px; */
}

.userMessage {
  background: #77cbfc;
  color: white;
  padding: 20px 14px;
  margin: 5px;
  border-radius: 20px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.send-btn-ctn {
  display: flex;
  align-items: center;
}

.hover:hover {
  cursor: pointer;
}

.send-btn-ctn .hover {
  padding: 8px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-btn-ctn .hover svg {
  color: #fff;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.msgCont {
  margin-top: 5px;
  margin-bottom: 7px;
}

.actionButton {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 20px;
  padding: 15px 18px;
  margin: 0px;
  box-sizing: border-box;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  transition: background-color 50ms ease-in-out 0s, border-color 100ms ease-in-out 0s;
  white-space: normal;
  text-align: left;
}

.actionButton:hover {
  background-color: rgb(206, 206, 206);
}

.button-container {
  margin: 8px 8px 0px 0px;
  display: block;
  unicode-bidi: isolate;
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.text {
  text-align: center;
}

.text h2 {
  margin: 0;
}

.text p {
  margin: 0;
  color: #666;
}

.typing-indicator {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 30px;
  margin-left: 5px;
}

.dot {
  width: 5px;
  height: 5px;
  margin: 0 5px;
  background-color: #333;
  border-radius: 50%;
  opacity: 0;
  animation: blink 1.4s infinite both;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.botReply {
  background-color: rgb(243, 243, 243);
  color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  padding: 10px 14px;
  font-weight: normal;
  line-height: 1.25;
  font-size: 1rem;
  word-break: break-word;
  white-space: pre-wrap;
  box-sizing: border-box;
}

.botTitle {
  font-size: 21px;
  line-height: 46px;
  padding: 5px 0 3px 0;
}

.botSubTitle {
  margin: 0;
  color: #666;
}
